a.btn,
button{
  display:inline-block;
  text-align:center;
  padding:0.5em;
  background:#3366CC;
  color:white;
  border: 1px solid #114499;
  cursor:pointer;
  border-radius:2px;
  text-decoration:none;
  transition:background 0.25s ease-out;
  &:hover{
    background:#2244AA;
  }
  &.negative{
    background:#c99;
    border: 1px solid #633;
    color:white;
    &:hover{
      background:#633;
      border: 1px solid #300;
    }
  }
  &.positive{
    background:#9C9;
    border: 1px solid #363;
    color:white;
    &:hover{
      background:#363;
      border: 1px solid #030;
    }
  }
}

