.editor{
  svg{
      width:300px;
      height:100px;
      background:#ccc;
  }
  path{
      fill:none;
      stroke-width: 3px;
      stroke: black;
  }
  path.pre_path{
      stroke:#aaa;
  }
  circle.indicator{
      stroke:none;
      fill:yellow;
  }
}
