header.editor_header{
  display:flex;
  padding:0.5em;
  align-content: space-around;
  border-bottom:1px solid #333;
  flex-wrap:wrap;
  input{
    flex:1;
    &[type=number]{
      flex:0.5
    }
  }
  button,
  .btn{
    flex:1;
    max-width:4em;
  }
}
@media(max-width:400px){
  header.editor_header{
    input{
      display:block;
    }
  }
}
