.game_display{
  path{
    &.linel{
      /*stroke:#3366CC;*/
      stroke:white;
      stroke-width:5px;
    }
    &.container{
      stroke: #666;
      stroke-width:11px;
    }
    &.coin{
      stroke-width: 11px;
      stroke: yellow;
      stroke-dasharray: 1px 10000000px;
    }
  }
}
