.wrapper{
  min-height:100vh;
  display:flex;

  .view,
  .aside{
    padding:1em;
  }

  .view{
    flex:3;
    border-right:1px solid #111;
  }

  .aside{
    flex: 1;
    overflow-y:scroll;
  }

}

@media(max-width:800px){
  .wrapper{
    .view{
      flex:2;
    }
  }
}

@media(max-width:800px){
  .wrapper{
    .view,
    .aside{
      padding:0.5em;
    }
  }
}

@media(max-width:550px){
  .wrapper{
    flex-direction:column;
    height:auto;
    .view,
    .aside{
      flex: 1;
      border:0;
      padding:0.5em;
      overflow-y:visible;
    }
  }
}
