doctype html
html
  head
    title Linel
    link(rel='stylesheet', href='linel.min.css')
    meta(content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no', name='viewport')
    meta(content='yes', name='apple-touch-fullscreen')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(name="theme-color", content='#1A4D62')
    script(src='linel.js')
  body
