doctype html
html
  head
    include partials/header.jade

  body
    svg
      include partials/container.jade
      include partials/linel.jade
    include partials/controls.jade
    script(src='linel.js')
